header{
	background-color:pink;
	 opacity: 0.7;
	background-image: url(index.png);
	color:black;
	font-size: 33px;
	text-align:center;
	display: block;
	height:70px;	
	}
	
	body{
	color: blue;
	background-image: url("im.jpg");
	background-repeat: no-repeat;
	background-size: 1300px 700px;
	}
	
	div{
	height: 300px;
	width: 350px;
	margin: auto;
	margin-top:150px;
	background-color: rgba(0,51,102,0.4);
	padding: 20px;
	text-align: center;
	color: white;
	}
	
	input[type=text], input[type=number]{
	background:transparent;
	border: none;
    border-bottom: 1px solid rgba(179, 179, 179,0.7);
	color: white;	
	text-align:center;
	}
	
	input[type=text]:focus { border-bottom: 1px solid white;}
	.a1{
		border: none;
		color: white;
		font-weight: bold;
		background:transparent;
	}
	.a1:hover{color: black;	}
	
	label:hover{color: black;}	